.loginTALanding {
    padding-bottom: 75px;
    & .tileH1-section {
        margin-bottom: 30px;
    }  		
    & .passengerRow {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        & label {
            /* display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center; */
            display: block;
            height: 60px;            
            vertical-align: middle;
            width: 100%;
        }
        & span {
            display: inline-block;
            width: 40%;
        }
        & .passengerRow__cta {
            width: 20%;
        }
    }
    & .passengerRow__cta {
        margin-top: 0px
    }
}