.paymentSummaryMycruise {
    margin-bottom: 40px;
}
.payment-summary {
    padding: 0 20px;
    font-feature-settings: 'lnum' 1;
    text-align: center;
    & .payment-summary-content {
        position: relative;
    }
}
.payment-summary-content {
    max-width: 420px;
    margin: 0 auto;
    & .title {
        padding: 10px 0px 20px;
        margin: 0;
    }
    & .card-title {
        padding: 10px 10px 0 19px;
    }
    & table {
        width: 100%;
        letter-spacing: 1px;
        border-collapse: collapse;
    }
    & td {
        padding: 20px 0px;
        text-align: left;
        vertical-align: middle;
    }
    & .total-price-loyality {
        display: block;
        text-transform: none;
    }
    & .total-price {
        padding: 20px 0px 20px 10px;
        text-align: right;
    }
    & .total h1 {
        margin: 0;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}

input[type=number] { 
	-moz-appearance: textfield;
}
