.shorex-card-container {
    border-bottom: 2px solid var(--color-secondary2);
    border-left: 2px solid var(--color-secondary2);
    border-right: 2px solid var(--color-secondary2);
    & .top-banner {
        @mixin style-body2;
        background: var(--color-primary3);
        color: var(--color-primary1);
        font-size: 16px;
        text-transform: uppercase;
    }
    & .shorex-card-port,
    & .shorex-card-price,
    & .shorex-card-outOfStock,
    & .shorex-card-dates {
        @mixin style-body2;
    }
    & .shorex-card-description {
        @mixin style-body2;
        /* max-height: 66px;
        overflow: hidden; */
    }
    & .shorex-card-alert {
        color: var(--color-secondary3);
        font-family: var(--font-semibold);
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22px;
    }
    & .cta-block a {
        @mixin cta-secondary;
        @mixin card-cta-fontSize;
        &.primary-cta {
            @mixin cta-secondary-darkblue;
            @mixin card-cta-fontSize;
        }
        &.primary-cta:before {
            background: var(--color-primary3);
        }
    }
    & .cta-block {
        & .shorex-card-outOfStock {
            @mixin cta-secondary;
            @mixin card-cta-fontSize;
            &:before {
                display: none;
            }
        }
        & .shorex-card-notOnSale {
            @mixin cta-primary-rouge;
            @mixin card-cta-fontSize;
        }
    }
}

.shorex-card-dates {
    @mixin style-body2;
}

.top-banner {
    background: var(--color-primary3);
    color: var(--color-primary1);
    font-size: 16px;
    text-transform: uppercase;
}
