.tabsImage {
    & .tabs {
        margin-left: 10%;
    }
    & .image-copy-block {
        & .tile-holder {
            display: inline-block;
            position: relative;
            margin: 0 auto;
        }
        & .tileGrid {
            display: table-cell;
            width: 50%;
            vertical-align: middle;
            position: relative;
            margin-top: 0px;
        }
        & .tile-holder:nth-child(odd) {
            direction: rtl;
        }
        & .tile-holder:nth-child(odd) .tileGrid {
            direction: ltr;
        }
        & .content .spacing-container {
            padding: 0 10%;
            margin-bottom: 0;
            @media (--desktop-xl) {
                padding: 0 15%;
            }
        }
        & .cta-icon-group .cta-link {
            margin-bottom: 30px;
        }
        & .text-holder .description-block {
            margin-bottom: 25px;
            max-height: 155px;
            overflow: hidden;
        }
        & .text-holder .quote-details {
            margin-bottom: 25px;
        }
        & .tileGrid {
            vertical-align: middle;
            width: 50%;
            display: inline-block;
        }
        & .spacing-container .title {
            margin: 25px 0 30px;
        }
        & .text-holder .description-block {
            max-height: 230px;
        }
        & .tileGrid.content {
            padding-top: 5px;
        }
        & .text-holder {
            padding-bottom: 0;
        }
    }
}