.diningKeyInfoMycruise {
    margin-top: -55px;
}
.dining-key-info {
    & .infocard-wrapperAux {
        background: var(--color-primary1);
    }
    & .infocard-back {
        background: var(--color-primary1);
        &:before {
            content: "\e903";
            color: var(--color-primary3);
        }
    }
    & .infocard .title {
        font-weight: normal;
        color: var(--color-primary5);
        @mixin style-h1;
    }
    & .infocard .subtitle {
        @mixin style-body2;
    }
    & .infocard .subtitle-availability {
        color: var(--color-secondary3);
        text-transform: uppercase;
    }
    & .infocard .subtitle-ageRestricted {
        background: var(--color-secondary6);
        text-transform: uppercase;

    }
    & .infocard h2 {
        @mixin style-h1;
    }

    & .infocard .desc {
        @mixin style-body1;
    }
    & .infocard .caption,
    & .infocard .stats {
        @mixin style-h6;
    }
    & .infocard .caption {
        font-family: "Core-Rhino-Light";
    }
    & .readmoreLink {
        @mixin style-cta;
        text-align: center;
        color: var(--color-primary4);
        text-transform: uppercase;
    }
    & .cta-holder a {
        @mixin cta-primary;
    }
    & .key-icon::before {
        color: var(--color-primary4)
    }
    
    & .subtitle-item--included {
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "\e92f";
            font-family: var(--font-icomoon);
            display: inline-block;
            vertical-align: middle;
            font-size: 30px;
            margin-right: 5px;
            color: var(--color-primary4);
        }
    }
    & .subtitle-item--location {
        
    }
    & .subtitle-item--dinnerType {
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "";
            background-image: url(~postbooking-theme/images/SVG/Yourmeals.svg);
            background-repeat: no-repeat;
            background-position: left;
            width: 32px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    & .subtitle-item--additional {
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "\e930";
            font-family: var(--font-icomoon);
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            margin-right: 10px;
            color: var(--color-primary4);
        }
    }
    & .subtitle-item--menu {
        @mixin cta-secondary-darkblue;
        text-decoration: none;
        text-transform: none;
        padding-left: 40px;
        &:after {
            content: "\e931";
            font-family: var(--font-icomoon);
            display: inline-block;
            font-size: 21px;
            margin-right: 5px;
            color: var(--color-primary4);
        }
        &:before {
            display: none;
        }
    }
    /* Icons styles*/
    & .portlabel-icon::before {
        content: "\e913";
    }
    & .activitylevellabel-icon::before {
        content: "\e901";
    }
    & .durationlabel-icon::before {
        content: "\e907";
    }
    & .mealsincludedlabel-icon::before {
        content: "\e91b";
    }

    & .key-fact:nth-child(2n+1) .text-content {
        position: relative;
    }
    & .dining-variant-title {
        @mixin style-h4;
        color: var(--color-secondary3);
        text-transform: uppercase;
    }
    & .dining-variant-tooltip {
        background: var(--color-primary1);
        box-shadow: 0 0px 20px 10px rgba(0, 0, 0, .1);
        &:before {
            background: var(--color-primary1);
        }
    }

    & .dining-close {
        &:after {
            content: "\e906";
            color: var(--color-primary4);
            width: 30px;
        }

    }

    & .dining-variant-tooltip  p {
        background: var(--color-primary1);
        @mixin style-body3;
        text-transform: none;
        font-feature-settings: 'lnum' 1;
        background: var(--color-primary1);
    }
    & .comingSoon {
        @mixin style-cta;
        text-transform: uppercase;
        color: rgb(0, 136, 245);
        padding: 5px 0;
    }
    & .bookOnBoard {
        @mixin style-cta;
        text-transform: uppercase;
        color: var(--color-primary2);
        padding: 5px 0;
    }
}



/*shorex-info-detail*/
.shorex-info-detail {
    & .shorex-info-list {
        @mixin style-body3;
        background: var(--color-secondary6);
    }
    & .shorex-detail-info-title {
        @mixin style-h5;
    }
    & .shorex-detail-info-title span:before {
        color: var(--color-primary4);
    }

    & .shorex-info-list li b {
        font-family: var(--font-semibold);
        display: inline-block;
    }

    & .shorex-detail-info-itinerary li:before {
        content: "\e902";
        color: var(--color-primary3);
    }
    & .shorex-detail-info-glance .shorex-detail-info-title span:before {
        content: "\e91f"
    }
    & .shorex-detail-info-itinerary .shorex-detail-info-title span:before {
        content: "\e91e"
    }
    & .shorex-detail-info-included .shorex-detail-info-title span:before {
        content: "\e91b"
    }
}