.spa-overlay {
    & .guestsList {
        margin-bottom: 60px;
        & .total__price {
            font-size: 40px;
            color: var(--color-primary4);
        }
        & .total__label {
            font-size: 18px;
            line-height: 40px;
        }
    }
}