.story-rotator {
    & .info-card:before {
        content: '';
        position: absolute;
        left: 0;
        width: 105%;
        height: 30px;
        top: 0px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        z-index: 9;
        background: white;
        border-radius: 0;
    }
    & .info-card .position-adjust {
        background: #fff;
    }
    & .title h3 {
        @mixin style-h2;
    }
    & .description p {
        @mixin style-body1;
    }
    & .cta-holder a {
        @mixin cta-secondary-up;
    }
}

.tabRotator {
    & .tabs-labels {
        & li {
            padding: 0 10px;            
        }
        & a:after {
            color: var(--color-primary3);
        }
        & .active:after {
            background: var(--color-primary3);
            color: var(--color-primary1);
        }

        & #tab0 a:after {
            content: '\e92c';
        }
        & #tab1 a:after {
            content: '\e921';
        }
        & #tab2 a:after {
            content: '\e92d';
        }
        & li a {
            @mixin cta-secondary;
            font-size: 18px;
        }
        & li a:before {
            width: 50px;
            height: 2px;
            left: 50%;
            margin-left: -25px;
            right: auto;
            bottom: auto;
            top: 30px;

        }
        
    }
}
