.productsVerticalTiles {
    @mixin grid-wrap;
    & .container {
        @mixin grid-wrap;
    }
    & .notificationBanner {
        padding: 0 0 40px;
    }
}

.spaComponent {
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: center;
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    lost-utility: clearfix;
    & .spaComponent__description {
        @mixin style-body1;
        margin: 10px 0 30px;
    }
    & .spaComponent__tecnical {
        margin-bottom: 10px;
    }
    & .spaComponent__image {
        display: none;
    }
    & h3 {
        margin-bottom: 6px;
    }
    & .spaComponent__cta {
        padding-left: 4px;
    }

    & .spaComponent__duration {
        margin-left: 15px;
        &:before {
            font-family: var(--font-icomoon);
            display: inline;
            font-size: 20px;
            vertical-align: middle;
            margin-right: 8px;
        }
    }
}

.entertainment-tiles-container {
    & .tiles-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.cta-primary {
    background-color: var(--color-secondary1); 
    &:hover,
    &:active,
    &:focus {
        background-color: var(--color-secondary1); 
    }
}