.confirmation-modal {
    & .aria-modal {
        height: auto;
    }
    & .modal-btns {
        & .cta-primary {
            margin-left: 20px;
        }
        & button {
            display: inline-block;
        }
    }
}