.entertainmentConfigPage-tile-container {
    padding-left: 32px;
    padding-right: 32px;

    & .guestsList {
        & ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 100%;

            & li {
                list-style: none;
                margin: 24px 0px 30px 0px;

                min-width: 150px;
                padding-right: 35px;
            }

            & .pax-checkbox {
                & input:checked + label:after {
                    top: 6px;
                    left: 7px;
                }
            }
        }
    }

    & .spa-duration-container {
        & h2 {
            font-weight: 600;
        }
        & .cta-button-false {
            padding: 14px 15px;
        }

        & .cta-button-true {
            padding: 14px 15px;
        }
        & ul {
            display: flex;
            flex-direction: row;
            max-width: 100%;

            & li {
                list-style: none;
                margin-right: 30px;

                & input[type='radio'] {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
            }
        }
    }

    & .spa-date-container {
        & h3 {
            margin-bottom: 10px;
        }

        & .calendarViewDay {
            margin-top: 35px;
            & .calendar__day {
                height: 100px;
                width: 100px;
            }

            & .calendar__dayLabel {
                margin-top: 5px;
                font-size: 24px;
            }

            & .nav_prev,
            & .nav_next {
                width: 50px;
            }
        }
    }

    & .selectTime-wrapper {
        /* background-color: var(--color-secondary6); */
        /* margin: 35px 0px 0px;
        padding: 45px; */
        & .heading {
            display: flex;
            margin-bottom: 24px;
            flex-direction: row;

            & .dateSection {
                display: flex;
                color: var(--color-primary3);
                margin-bottom: 11px;
                align-items: baseline;

                & .select_time_label {
                    @mixin style-h4;
                    font-weight: 900;
                    margin-right: 5px;
                }

                & span:last-child {
                    margin-left: 5px;
                    font-size: 20px;
                }
            }
            & .bestPrice {
                margin-left: auto;
                font-size: 16px;
            }
        }

        & .details {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            & .left-section {
                width: 15%;
            }
            & .right-section {
                padding-top: 16px;
                padding-bottom: 32px;
                width: 85%;
                border-bottom: 1px solid #a6b4cf;

                & a {
                    margin: 15px;
                    margin-right: 30px;
                    margin-left: 0px;
                    min-width: 110px;
                    padding: 10px 15px;
                    background-color: #ffffff;
                    border: 1px solid #a6b4cf;
                    box-sizing: border-box;
                    border-radius: 10px;
                    display: inline-flex;
                    flex-direction: column;
                    text-align: center;
                    text-decoration: none;
                    justify-content: space-between;
                    & .time_container {
                        color: var(--color-secondary4);
                        font-size: 16px;
                        line-height: 1.25;
                    }

                    & .price_container {
                        color: var(--color-primary5);
                        font-size: 14px;
                        line-height: 1.25;
                    }

                    & .bestPrice {
                        color: var(--color-primary2);
                    }

                    &:hover,
                    :focus {
                        background-color: var(--color-secondary1);
                        color: #ffffff !important;
                        & .time_container {
                            color: var(--color-primary1);
                            font-size: 16px;
                            line-height: 1.25;
                        }

                        & .price_container {
                            color: var(--color-primary1);
                            font-size: 14px;
                            line-height: 1.25;
                        }

                        & .bestPrice {
                            color: var(--color-primary2);
                        }
                    }

                    &:visited {
                        color: var(--color-primary3);
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }

                & .active {
                    background-color: var(--color-secondary1);
                    color: #ffffff !important;

                    & .time_container {
                        color: var(--color-primary1);
                        font-size: 16px;
                        line-height: 1.25;
                    }

                    & .price_container {
                        color: var(--color-primary1);
                        font-size: 14px;
                        line-height: 1.25;
                    }

                    & .bestPrice {
                        color: #ffffff;
                    }
                }
            }

            &:last-child {
                & .right-section {
                    border-bottom: 0;
                }
            }
        }
    }
}

.botton-container {
    text-align: left;

    & .cta-primary {
        width: auto;
        padding: 0px 60px;
    }

    & .formSummary {
        padding: 10px;
        margin-right: 30px;

        & .total {
            @mixin style-body1;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .priceLabel {
                font-size: 16px;
            }
            & .priceAmount {
                font-weight: 900;
                font-size: 24px;
                color: #002776;
            }
        }
    }
}

.calendar__dayList {
    & .calendar__day {
        & .calendar__dayWrapper {
            top: 47%;
            & .calendar__monthLabel {
                font-size: 16px;
            }
            & .calendar__dayLabel {
                font-size: 32px;
            }
        }
    }
}

.aria-modal {
    margin: auto;
    min-height: 432px;
    background: #FFFFFF;
    width: 60%;
}

.soldout-container {
    &::before {
        margin-top: -16%;
        margin-left: -7%;
    }  
    & .soldout-message {
        margin-top: 25%;
    }
}

