.spa-tiles-container {
    text-align: center;
    & .tiles-container {
        @mixin grid-wrap;
        position: relative;
        justify-content: space-evenly;
        text-align: center;
        display: block;
        clear: both;
        padding-left: 0px;
        padding-right: 0px;
    }
    & input:focus {
        outline: 0;
    }
    & .cta-holder .btn-secondary {
        cursor: pointer;
        padding: 0;
        border: none;
    }
    & .cta-holder .btn-secondary:before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }
    & .tiles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
}