.copy-block {
    display: flex;
    padding-left: 74px;
    padding-right: 74px;
    flex-wrap: wrap;
    position: relative;
    
    &.col-2::after,
    &.col-3::after,
    &.col-4::after {
        content: '';
        display: block;
        top: 60px;
        position: absolute;
        left: 50%;
        bottom: 37px;
    }
    
    &.col-2 .inner-copy-block:nth-child(even) ul,
    &.col-3 .inner-copy-block:nth-child(even) ul,
    &.col-4 .inner-copy-block:nth-child(even) ul {
        padding-left: 79px;
    }
    
    &.col-2 .inner-copy-block,
    &.col-3 .inner-copy-block,
    &.col-4 .inner-copy-block {
        lost-column: 1/3 1;
        display: inline-flex;
    }

    & .inner-copy-block {
        padding-right: 0;
    }

    & .inner-copy-block:after {
        /* border: none; */
    }
}