.dining-overlay {
    & .aria-modal {
        padding-top: 80px;
        padding-bottom: 80px;
        overflow-y: auto;
        height: 90%;
        display: block;
    }
    & .title {
        margin: 0 0 40px 0;
    }
}

.modal-error {
    &:before {
        font-family: var(--font-icomoon);
        display: block;
        font-size: 26px;
        vertical-align: middle;
        margin: 0 auto 6px;
        height: 30px;
        content: "\e908";
        line-height: 30px;
    }
}