.global-header-login {
    height: 181px;
    border: none;
    background-color: transparent;
    display: block;
    & .global-header-aux {
        height: 181px;
    }
    /* &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 58px;
        width: 100%;
        border-top: 3px solid rgba(237,241,247,.85);
    } */
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        background: var(--color-primary1);
        top: 0;
        bottom: 58px;
        display: inline-block;
    }
    & .nav-brand-logo {
        width: 211px;  
        position: absolute;
        left: -30px;
        top: 35px;
        padding: 20px 15px;      
    }
    & .nav-brand-logo a::before {
        height: 80px;
        left: -23px;
        top: -27px;
    }
    
    & .menu-bar-small {
        position: relative;
        display: table-cell;
        width: auto;
        padding: 0;
        vertical-align: middle;
        z-index: 9;
    }
    & .menu-bar-small .nav-call-btn {
        order: 1;
    }
    & .menu-bar-small .nav-brand-logo {
        order: 2;
    }
    & .nav-Curve {
        height: 195px;
        width: 245px;
        top: 5px;
        left: -45px;
    }

    & .brand-logo img {
        max-width: 211px;
        height: 77px;
    }
}



.global-header-wrapper {
    &.scrolled .nav-brand-logo {
        animation: animateLogoDesktop .8s cubic-bezier(0, 0.19, 0, 1.29);
        top: 0;
    }
    &.rev-scrolled .nav-brand-logo {
        animation: animateLogoReverseDesktop .8s cubic-bezier(0, 0.19, 0, 1.29);
        top: 35px;
    }
}

/*sticky header anm*/
.global-header-login {
    transition: all .3s ease;
    &:before,
    &:after {
        transition: all .3s ease;
    }
    & .secondary-nav {
        transition: all .3s ease;
    }
    & .utility-nav-container {
        transition: all .3s ease;
    }
    & .nav {
        transition: all .3s ease;
    }
}

.scrolled .global-header-login {
    /*position: fixed;*/
    top: 0;
    height: 159px;
    &:before {
        height: 50px;
        transition: all .3s ease;
        background: rgba(237,241,247,1);
    }
    &:after {
        bottom: 50px;
        transition: all .3s ease;
    }
    & .secondary-nav {
        height: 50px;
        line-height: 50px;
        transition: all .3s ease;
    }
    & .utility-nav-container {
        margin-bottom: 0;
        transition: all .3s ease;
    }
    & .nav {
        margin-bottom: 8px;
        transition: all .3s ease;
    }
}

.ie-css {
    & .global-header-wrapper {
        & .nav-Curve {
            background-image: url(~postbooking-theme/images/SVG/livery/logo_livery.svg);
            background-size: 100%;
            background-position: 0 -23px;
        }
      
        &.scrolled .nav-Curve {
            animation: animateCurveIE .6s ease-in-out;
            animation-timing-function: steps(1,end);
            opacity: 0
        }
        &.rev-scrolled .nav-Curve {
            animation: animateCurveReverseIE .6s cubic-bezier(0, 0.19, 0, 1.29);
            animation-timing-function: steps(1,end);
        }
    }
}