.editorial-tile {
    padding: 70px 0;
    margin: 0 auto;
    max-width: 1024px;
    &:nth-child(even) .tile-content {
        padding-right: 100px;
    }
    &:nth-child(odd) .tile-content {
        padding-left: 100px;
    }
    & .tile-image {
        width: 30%;
        text-align: center;
        padding: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    & .tile-image img {
        margin-bottom: 0;
    }
    & .tile-content {
        width: 69%;
        text-align: left;
        box-sizing: border-box;
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    & .tile-description {
        padding: 0;
        margin-bottom: 15px;
    }
}