.article--image_text {
    @mixin style-body1;
    border-bottom: 1px solid var(--color-secondary6);
    & .tile-title {
        font-size: 20px;
    }
    & .tile-description {
        @mixin style-body1;
    }
    & .more-details--link {
        @mixin cta-secondary-up;
    }
    & ul li:before {
        content: "\e902";
        font-size: 8px;
        transform: rotate(-90deg);
        color: var(--color-secondary1);
    }
    & a {
        color: var(--color-primary3);
        text-transform: none;
        font-family: var(--font-semibold);
    }
}
