.article--title_links {
    @mixin style-body1;
    border-bottom: 1px solid var(--color-secondary6);
    & h2 {
        @mixin style-body1;
        font-feature-settings: 'lnum' 1;
    }
    & ul li:before {
        content: none;
    }
    & a {
        color: var(--color-primary3);
        text-transform: none;
        font-family: var(--font-semibold);
    }
}