.card-component {
    margin: 0;
    &.content-align-left {
        text-align: left;
    }
}
.slick-slide .card-component {
    margin: 0 10px 0 10px;
    width: calc(100% - 20px);
}
.card-container {
    & .image-holder img {
        display: block;
    }
    & .content-holder {
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        position: relative;
    }
    & .text-content {
        margin-bottom: 20px;
    }
    & .title-container {
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
    }
    & .cta-content {
        lost-utility: clearfix;
    }
    & .cta-block {
        float: left;
    }
    & .cta-block + .cta-block {
        float: right;
    }
    & .cta-block a {
        display: block;
    }
}

/*card text align center*/
.card-component.content-align-center {
    text-align: center;
    & .title {
        width: 100%;
    }
    & .cta-block {
        float: none;
        margin: 0 auto;
        & a {
            display: inline-block;
        }
    }
}
