.healthQuestionnaire {
    & .passengerSelectFieldContaineroutSideFromContainer {
        @mixin style-body1;
        max-width: 74%;

        & .select-group {
            width: 30%;
        }
    }

    & .header {
        width: 74%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    & .description__container {
        width: 74%;
        display: flex;

        & .description__body__left {
            width: 60%;
        }

        & .description__body__right {
            width: 40%;
            max-height: 130px;
        }
    }

    & .passengerSelectFieldContainer {
        width: 74%;

        & .select-group {
            width: 30%;
        }
    }

    & .que_ans_label_container {
        display: flex;
        width: 60%;

        & .que_label_container {
            width: 85%;
        }

        & .ans_label_container {
            width: 15%;
        }
    }

    & .submitButton__container {
        display: flex;
        width: 74%;
        justify-content: flex-end;

        & .travel_insurance {
            width: 74%;
            text-align: left;
            & .checkbox-label {
                max-width: 30%;
            }
        }
    }
    
    & hr {
        max-width: 74%;
    }

    & .qa__item.overView {
        & .qa__body {
            display: flex;
            padding: 10px 10px;
            width: 60%;
            vertical-align: middle;
            & .qa__question {
                width: 85%;
            }
            & .qa__answer {
                width: 15%;
                display: flex;
                & button {
                    font-size: 1rem;
                    height: 50px;
                    line-height: inherit;
                    width: 100%;
                }
            }
        }
    }

    & .qa__item.edit__mode {
        margin: 20px 10px;
        width: 100%;
        & .qa__body {
            display: flex;
            vertical-align: middle;
            padding: 20px;
            background: var(--color-secondary2);

            & .qa__question {
                width: 66%;
            }
            & .qa__answer {
                width: 33%;

                & .buttonContainer {
                    display: flex;
                    justify-content: space-between;
                    & .cta-primary-light-blue {
                        width: 48%;
                        background: var(--color-primary1);
                        color: var(--color-secondary1);
                        border: 2px solid var(--color-secondary1);

                        &:hover {
                            background: #3e90cf;
                            color: var(--color-primary1);
                        }
                        &:active,
                        &:focus {
                            background: var(--color-secondary1);
                            color: var(--color-primary1);
                            outline-color: var(--color-primary3);
                        }
                    }

                    & .active {
                        background: var(--color-secondary1);
                        color: var(--color-primary1);
                        outline-color: var(--color-primary3);
                    }

                    & .cta-primary {
                        width: 48%;
                        background: var(--color-primary1);
                        color: var(--color-secondary1);
                        border: 2px solid var(--color-secondary1);

                        &:hover {
                            background: #b0263a;
                            color: var(--color-primary1);
                            border: 2px solid var(--color-primary2);
                        }

                        &:active,
                        &:focus {
                            background: #b0263a;
                            color: var(--color-primary1);
                            border: 2px solid var(--color-primary2);
                        }
                    }
                }
            }
        }
    }
}

.disable {
    pointer-events: none;
}

.error__show {
    border: 1px solid var(--color-secondary3);
}

.aria-modal {
    padding-top: 70px;
}

.modal-btns .cta-primary {
    width: auto;
}

.modal-btns .cta-button-outline {
    width: auto;
}

.model_body {
    width: 60%;
}
