.story-rotator {
    & .info-card-wrap {
        padding-bottom: 0;
        padding-left: 32px;
        padding-right: 32px
    }
    & .info-card-holder {
        top: -80px
    }
    & .info-card {
        /* height: 290px; */
        padding-top: 60px;
    }
    & .content-holder {

        padding: 0 60px;

    }

    & .content-holder .title {
        margin: 0;
    }
    
    & .content-holder .cta-holder a {
        pointer-events: all;
    }

    & .custom-nav {
        position: relative;
        bottom: -11px;
        width: 100%;
        z-index: 10;
        left: 60px; 
    }

    & .slides-holder .slide {
        pointer-events: none;
    }

    & .carousel-controls {
        text-align: left;
        
    }
}
